<nav class="bg-gray-800 p-4">
    <div class="flex justify-between items-center">
        <div>
            <h1 class="text-white text-lg font-semibold">Employee Management System</h1>
        </div>
        <div class="flex space-x-4">
            <button (click)="goToHome()" class="text-white hover:text-gray-300 focus:outline-none">Home</button>
            <button (click)="goToSkill()" class="text-white hover:text-gray-300 focus:outline-none">Skills</button>
            <button (click)="goToProject()" class="text-white hover:text-gray-300 focus:outline-none">Projects</button>
            <button (click)="goToDesignation()" class="text-white hover:text-gray-300 focus:outline-none">Designations</button>
            <button (click)="goToDepartment()" class="text-white hover:text-gray-300 focus:outline-none">Departments</button>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>